# First print your name in the cell below then save this file. (or something nice about your instructor)

In [1]:
# In this cell print your name 
print("Gaurav")

Gaurav

# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [2]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [5]:
# Load data here

listings_path = "../data/listings.csv"
df = pd.read_csv(listings_path)

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [ ]:
# 1. How many listings are there with a price less than 100? 

sel_condition = df["price"] < 100
len(df[sel_condition])

22778

In [45]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.
sel_condition_bk = df["neighbourhood_group"] == "Brooklyn"

df_bk = df[sel_condition_bk].copy()
len(df_bk)
df_bk.neighbourhood_group.value_counts()

neighbourhood_group
Brooklyn    18632
Name: count, dtype: int64

In [47]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.
condition_1 = df["neighbourhood_group"] == "Brooklyn"
condition_2 = df["price"] < 100

df_bk_low = df[condition_1 & condition_2]
len(df_bk_low)

10473

In [56]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
# How many total are there that have those names

host_names = ["Michael", "David", "John", "Daniel"]
condition = df["host_name"].isin(host_names)
df[condition]["host_name"].value_counts()

len(df[condition])

1258

In [62]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 
condition = df_bk["neighbourhood"] == "Williamsburg"

df_bk["adjusted_price"] = np.where(condition, df_bk["price"]+100, df_bk["price"])

In [71]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  
percent_private = df["room_type"].value_counts(normalize=True)["Private room"] * 100
percent_shared = df["room_type"].value_counts(normalize=True)["Shared room"] * 100

print(f"private %: {percent_private}")
print(f"shared %: {percent_shared}")

private %: 45.444580566122895
shared %: 2.12134889419047

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [77]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.
gb = df.groupby("neighbourhood_group")
gb.size()

neighbourhood_group
Bronx             1183
Brooklyn         18632
Manhattan        20580
Queens            5791
Staten Island      341
dtype: int64

In [78]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 
gb["price"].mean()

neighbourhood_group
Bronx             92.751479
Brooklyn         120.225258
Manhattan        191.880466
Queens            99.754965
Staten Island    110.947214
Name: price, dtype: float64

In [7]:
# 2.5. Using `groupby`, find the mean price for each room_type. 
gb = df.groupby("room_type")
gb["price"].mean()

room_type
Entire home/apt    199.395950
Hotel room         275.015075
Private room        91.453084
Shared room         87.063830
Name: price, dtype: float64

In [8]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 
gb = df.groupby("neighbourhood_group")
gb["price"].agg(["min", "max"])

                     min    max
neighbourhood_group
Bronx                 16   1404
Brooklyn               0  10000
Manhattan              0  10000
Queens                 0  10000
Staten Island         19   1200

In [10]:
# 4. Using `groupby`, find the mean price for each room_type in each neighbourhood_group.
gb = df.groupby(["neighbourhood_group", "room_type"])
gb["price"].mean()

neighbourhood_group  room_type
Bronx                Entire home/apt    138.004819
                     Private room        68.419668
                     Shared room         66.391304
Brooklyn             Entire home/apt    171.587687
                     Hotel room         147.300000
                     Private room        71.291189
                     Shared room         57.870091
Manhattan            Entire home/apt    231.335572
                     Hotel room         292.515670
                     Private room       128.277069
                     Shared room        111.735084
Queens               Entire home/apt    150.168900
                     Hotel room         139.058824
                     Private room        69.972564
                     Shared room         89.891892
Staten Island        Entire home/apt    151.720930
                     Private room        70.312883
                     Shared room         46.000000
Name: price, dtype: float64

In [13]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.
gb["price"].agg(["count", "min", "max", "mean", "std"])

                                     count  min    max        mean         std
neighbourhood_group room_type
Bronx               Entire home/apt    415   25   1404  138.004819  126.032106
                    Private room       722   16    700   68.419668   57.337866
                    Shared room         46   20    800   66.391304  114.442703
Brooklyn            Entire home/apt   9112   20  10000  171.587687  236.732843
                    Hotel room          30    0    399  147.300000   91.153206
                    Private room      9159   10   2500   71.291189   69.023165
                    Shared room        331   15   1500   57.870091   92.217618
Manhattan           Entire home/apt  12209    0  10000  231.335572  410.306439
                    Hotel room         351    0   2211  292.515670  315.924085
                    Private room      7601   10  10000  128.277069  448.677306
                    Shared room        419   10  10000  111.735084  502.728868
Queens              Entire home/apt   2090   10  10000  150.168900  252.606739
                    Hotel room          17    0    249  139.058824   50.743806
                    Private room      3499   18   9000   69.972564  163.814468
                    Shared room        185   14   3000   89.891892  275.675158
Staten Island       Entire home/apt    172   39   1200  151.720930  147.518392
                    Private room       163   20    800   70.312883   70.759593
                    Shared room          6   19     82   46.000000   28.446441

# Load, Merge, and Export files.
1. Load the `prices.csv` and the `n_listings.csv`
    * Having an error..? Inspect the actual csv file if you're having trouble

2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']

       
3. Save your joined csv as `joined.csv` into the data folder. 


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [3]:
# 1. Load the `prices.csv` and the `n_listings.csv`
df_p = pd.read_csv("../data/prices.csv")
df_n = pd.read_csv("../data/n_listings.csv", sep=';')

In [7]:
# 2. Do join that keeps all the records for each table.
df_merged = pd.merge(df_p, df_n, on="neighbourhood_group")

In [8]:
# 3. Save your joined csv as `joined.csv` into the data folder. 
save_as = "joined.csv"
df_merged.to_csv(save_as, index=False)

In [9]:
# 4. Load your newly saved file, see if it looks the same.  If not, try saving with argument `index=False`
pd.read_csv("joined.csv")

  neighbourhood_group   mean_price  n_listings
0               Bronx    92.751479        1183
1            Brooklyn   120.225258       18632
2           Manhattan   191.880466       20580

# Extra Credit
Every question below this cell is extra credit and optional.

### 1. (Easy) Explore this new PandasAI Package and tell me what its all about because I've never used it. 
* https://www.youtube.com/watch?v=5w6eZaoDVVk&ab_channel=CodingIsFun  
* See if you can use it on the listings.csv to find out some cool info. or answer some of the questions above.

### 2. (Very Easy) Find other cool Panda packages / add ons and show us what they can do well. And how you installed them.

### 3. (Medium) Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

### (Hard) Load the Game Logs for 2022 and add the column names using a dictionary.  
* [Link to the data page](https://www.retrosheet.org/gamelogs/)
* [Link to the column names](https://procatinator.com/)
* haha, gotta find them yourself!

### (Extra Hard) Download the files for the past 5 years into a new folder and add them all into one data frame using pandas, then save that new file.
* Try to not hard code in the file names. We want to do this programmatically because what if we want to add new/more file names in the future.