# First print your name in the cell below then save this file. (or something nice about your instructor)

In [1]:
# In this cell print your name 
print("Sairun Alam")
print("My instructor and TA are awesome! :D")

Sairun Alam
My instructor and TA are awesome! :D

# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [2]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [3]:
# Load data here
df = pd.read_csv('/workspaces/ds-fall-2025-fri-0630/Week-01-Pandas/data/listings.csv')
df.head()

#it was not working unless i copied path directly from listings

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [4]:
# 1. How many listings are there with a price less than 100? 
condition1 = df['price'] < 100
lowprice = df[condition1]
print(len(lowprice))

22778

In [5]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.
condition2 = df['neighbourhood_group'] == 'Brooklyn'
df_bk = df[condition2]
print(len(df_bk))

18632

In [6]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.

bk_low = df[condition1 & condition2]
#bk_low.head()
print(len(bk_low))

10473

In [7]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
# How many total are there that have those names

condition3 = df['host_name'].isin(['Michael', 'David', 'John', 'Daniel'])
hosts = df[condition3]
print(len(hosts))

1258

In [8]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 

df['adjusted_price']= df['price'] + (df['neighbourhood'] == 'Williamsburg') * 100
wbscheck = df[df['neighbourhood'] == 'Williamsburg'].head()
print(wbscheck[['neighbourhood', 'price', 'adjusted_price']])

   neighbourhood  price  adjusted_price
11  Williamsburg    109             209
15  Williamsburg    299             399
35  Williamsburg    131             231
38  Williamsburg    175             275
42  Williamsburg     80             180

In [9]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  
rooms = df['room_type'].value_counts()
room_total = len(df)

private = (rooms.get('Private room', 0) / room_total) * 100
print(private, '%')
shared = (rooms.get('Shared room', 0) / room_total) * 100
print(shared, '%')

45.444580566122895 %
2.12134889419047 %

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [10]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.
group_by_listing = df.groupby('neighbourhood_group').size()
group_by_listing

neighbourhood_group
Bronx             1183
Brooklyn         18632
Manhattan        20580
Queens            5791
Staten Island      341
dtype: int64

In [11]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 
gb = df.groupby('neighbourhood_group')
#print(gb)

gb['price'].mean()

neighbourhood_group
Bronx             92.751479
Brooklyn         120.225258
Manhattan        191.880466
Queens            99.754965
Staten Island    110.947214
Name: price, dtype: float64

In [12]:
# 2.5. Using `groupby`, find the mean price for each room_type. 
gb_room = df.groupby('room_type')
gb_room['price'].mean()

room_type
Entire home/apt    199.395950
Hotel room         275.015075
Private room        91.453084
Shared room         87.063830
Name: price, dtype: float64

In [13]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 

gb = df.groupby('neighbourhood_group')
#gb['price'].describe()
gb['price'].agg(['min'],['max'])

                     min
neighbourhood_group
Bronx                 16
Brooklyn               0
Manhattan              0
Queens                 0
Staten Island         19

In [14]:
# 4. Using `groupby`, find the mean price for each room_type in each neighbourhood_group.
gb_nroom = df.groupby(['neighbourhood_group', 'room_type'])
meanprice = gb_nroom['price'].mean()
meanprice

neighbourhood_group  room_type
Bronx                Entire home/apt    138.004819
                     Private room        68.419668
                     Shared room         66.391304
Brooklyn             Entire home/apt    171.587687
                     Hotel room         147.300000
                     Private room        71.291189
                     Shared room         57.870091
Manhattan            Entire home/apt    231.335572
                     Hotel room         292.515670
                     Private room       128.277069
                     Shared room        111.735084
Queens               Entire home/apt    150.168900
                     Hotel room         139.058824
                     Private room        69.972564
                     Shared room         89.891892
Staten Island        Entire home/apt    151.720930
                     Private room        70.312883
                     Shared room         46.000000
Name: price, dtype: float64

In [15]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.
gb = df.groupby('neighbourhood_group')
gb['price'].agg( ['count', 'min', 'max', 'mean', 'median', 'std'] )

                     count  min    max        mean  median         std
neighbourhood_group
Bronx                 1183   16   1404   92.751479    69.0   95.787081
Brooklyn             18632    0  10000  120.225258    90.0  180.136376
Manhattan            20580    0  10000  191.880466   129.0  428.682578
Queens                5791    0  10000   99.754965    70.0  207.648739
Staten Island          341   19   1200  110.947214    79.0  122.676152

# Load, Merge, and Export files.
1. Load the `prices.csv` and the `n_listings.csv`
    * Having an error..? Inspect the actual csv file if you're having trouble

2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']

       
3. Save your joined csv as `joined.csv` into the data folder. 


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [16]:
# 1. Load the `prices.csv` and the `n_listings.csv`
df_prices = pd.read_csv('/workspaces/ds-fall-2025-fri-0630/Week-01-Pandas/data/prices.csv')
df_listings = pd.read_csv('/workspaces/ds-fall-2025-fri-0630/Week-01-Pandas/data/n_listings.csv', sep=';')

print(df_prices.head())
print()
print(df_listings.head())

  neighbourhood_group   mean_price
0               Bronx    92.751479
1            Brooklyn   120.225258
2           Manhattan   191.880466
3              Queens    99.754965
4       Staten Island   110.947214

  neighbourhood_group  n_listings
0               Bronx        1183
1            Brooklyn       18632
2           Manhattan       20580
3          LongIsland        4121

In [17]:
# 2. Do join that keeps all the records for each table.
dfmerged = pd.merge(df_prices,
                    df_listings,
                    on = 'neighbourhood_group',
                    how = 'left')
dfmerged

  neighbourhood_group   mean_price  n_listings
0               Bronx    92.751479      1183.0
1            Brooklyn   120.225258     18632.0
2           Manhattan   191.880466     20580.0
3              Queens    99.754965         NaN
4       Staten Island   110.947214         NaN

In [18]:
# 3. Save your joined csv as `joined.csv` into the data folder. 
save_as = '/workspaces/ds-fall-2025-fri-0630/Week-01-Pandas/data/joined.csv'

dfmerged.to_csv(save_as, index=False)

In [19]:
# 4. Load your newly saved file, see if it looks the same.  If not, try saving with argument `index=False`
dfcheck = pd.read_csv('/workspaces/ds-fall-2025-fri-0630/Week-01-Pandas/data/joined.csv')
print(dfcheck.head())

  neighbourhood_group   mean_price  n_listings
0               Bronx    92.751479      1183.0
1            Brooklyn   120.225258     18632.0
2           Manhattan   191.880466     20580.0
3              Queens    99.754965         NaN
4       Staten Island   110.947214         NaN

# Extra Credit
Every question below this cell is extra credit and optional.

### 1. (Easy) Explore this new PandasAI Package and tell me what its all about because I've never used it. 
* https://www.youtube.com/watch?v=5w6eZaoDVVk&ab_channel=CodingIsFun  
* See if you can use it on the listings.csv to find out some cool info. or answer some of the questions above.

### 2. (Very Easy) Find other cool Panda packages / add ons and show us what they can do well. And how you installed them.


https://pypi.org/project/lux-api/

Lux shows visualizations of your dataframe, it is helpful to use for finding things like correlation. I had a project where I was trying to figure out which features to remove, and I used Lux to visualize the outlier features that I would want to remove. 

to use it:
import lux
import pandas as pd

when you use df to see ur dataframe, it will provide a visualization. The linked website shows what happens.

### 3. (Medium) Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

### (Hard) Load the Game Logs for 2022 and add the column names using a dictionary.  
* [Link to the data page](https://www.retrosheet.org/gamelogs/)
* [Link to the column names](https://procatinator.com/)
* haha, gotta find them yourself!

### (Extra Hard) Download the files for the past 5 years into a new folder and add them all into one data frame using pandas, then save that new file.
* Try to not hard code in the file names. We want to do this programmatically because what if we want to add new/more file names in the future.