# First print your name in the cell below then save this file. (or something nice about your instructor)

In [ ]:
# In this cell print your name 
print("shabir zahir")

# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [2]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [4]:
# Load data here
df = pd.read_csv("../data/listings.csv")
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [7]:
# 1. How many listings are there with a price less than 100? 
print((df["price"]<100).count())

46527

In [ ]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.

condition = df["neighbourhood_group"] == "Brooklyn"
df_bk = df[condition].copy()
print(df_bk.head())

      id                                               name  host_id  \
1   3831  Whole flr w/private bdrm, bath & kitchen(pls r...     4869
2   5121                                    BlissArtsSpace!     7356
3   5136           Spacious Brooklyn Duplex, Patio + Garden     7378
8   5803     Lovely Room 1, Garden, Best Area, Legal rental     9744
11  6848                   Only 2 stops to Manhattan studio    15991

        host_name neighbourhood_group       neighbourhood  latitude  \
1     LisaRoxanne            Brooklyn        Clinton Hill  40.68514
2           Garon            Brooklyn  Bedford-Stuyvesant  40.68688
3         Rebecca            Brooklyn         Sunset Park  40.66120
8          Laurie            Brooklyn         South Slope  40.66829
11  Allen & Irina            Brooklyn        Williamsburg  40.70837

    longitude        room_type  price  minimum_nights  number_of_reviews  \
1   -73.95976  Entire home/apt     75               1                340
2   -73.95596     Private room     60              29                 50
3   -73.99423  Entire home/apt    175              14                  1
8   -73.98779     Private room     88               4                180
11  -73.95352  Entire home/apt    109               2                181

   last_review  reviews_per_month  calculated_host_listings_count  \
1   2020-08-01               4.75                               1
2   2019-12-02               0.37                               1
3   2014-01-02               0.01                               1
8   2020-03-18               1.31                               3
11  2020-03-16               1.32                               1

    availability_365
1                265
2                365
3                295
8                344
11                 0

In [20]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.

condition_1 = df["price"] < 100
condition_2 = df["neighbourhood_group"] == "Brooklyn"

print(len(df[condition_1 & condition_2]))

10473

In [29]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
# How many total are there that have those names

names = ['Michael', 'David', 'John','Daniel']
condition = df.host_name.isin(names)
name_counts = df[condition]['host_name'].value_counts()
print(name_counts)
print(sum(name_counts))

host_name
Michael    387
David      348
John       270
Daniel     253
Name: count, dtype: int64
1258

In [33]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 
print(df[["neighbourhood","price"]])

condition = df["neighbourhood"] == "Williamsburg"
df[condition]["price"]+=100
print(df[["neighbourhood","price"]])

            neighbourhood  price
0                 Midtown    175
1            Clinton Hill     75
2      Bedford-Stuyvesant     60
3             Sunset Park    175
4          Hell's Kitchen     65
...                   ...    ...
46522            Gramercy    145
46523  Washington Heights     87
46524       East Flatbush     59
46525     Upper West Side     80
46526           Gravesend     66

[46527 rows x 2 columns]
            neighbourhood  price
0                 Midtown    175
1            Clinton Hill     75
2      Bedford-Stuyvesant     60
3             Sunset Park    175
4          Hell's Kitchen     65
...                   ...    ...
46522            Gramercy    145
46523  Washington Heights     87
46524       East Flatbush     59
46525     Upper West Side     80
46526           Gravesend     66

[46527 rows x 2 columns]

/tmp/ipykernel_15679/4002652534.py:6: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df[condition]["price"]+=100
/tmp/ipykernel_15679/4002652534.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[condition]["price"]+=100

In [39]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  
condition  = ["Private room", "Shared Room"]
print(df["room_type"].value_counts(normalize=True))

room_type
Entire home/apt    0.515787
Private room       0.454446
Shared room        0.021213
Hotel room         0.008554
Name: proportion, dtype: float64

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [50]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.

grouped_nei = df.groupby('neighbourhood_group')
print(grouped_nei.size())

neighbourhood_group
Bronx             1183
Brooklyn         18632
Manhattan        20580
Queens            5791
Staten Island      341
dtype: int64

In [51]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 

print(grouped_nei['price'].mean())

neighbourhood_group
Bronx             92.751479
Brooklyn         120.225258
Manhattan        191.880466
Queens            99.754965
Staten Island    110.947214
Name: price, dtype: float64

In [54]:
# 2.5. Using `groupby`, find the mean price for each room_type. 
group_room = df.groupby('room_type')
print(group_room['price'].mean())

room_type
Entire home/apt    199.395950
Hotel room         275.015075
Private room        91.453084
Shared room         87.063830
Name: price, dtype: float64

In [55]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


print(grouped_nei['price'].agg(['min','max']))

                     min    max
neighbourhood_group
Bronx                 16   1404
Brooklyn               0  10000
Manhattan              0  10000
Queens                 0  10000
Staten Island         19   1200

In [57]:
# 4. Using `groupby`, find the mean price for each room_type in each neighbourhood_group.

group_room_nei = df.groupby(['neighbourhood_group','room_type' ])
print(group_room_nei['price'].mean())

neighbourhood_group  room_type
Bronx                Entire home/apt    138.004819
                     Private room        68.419668
                     Shared room         66.391304
Brooklyn             Entire home/apt    171.587687
                     Hotel room         147.300000
                     Private room        71.291189
                     Shared room         57.870091
Manhattan            Entire home/apt    231.335572
                     Hotel room         292.515670
                     Private room       128.277069
                     Shared room        111.735084
Queens               Entire home/apt    150.168900
                     Hotel room         139.058824
                     Private room        69.972564
                     Shared room         89.891892
Staten Island        Entire home/apt    151.720930
                     Private room        70.312883
                     Shared room         46.000000
Name: price, dtype: float64

In [59]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.

print(group_room_nei['price'].agg(['min', 'max', 'mean', 'median', 'std']))

                                     min    max        mean  median  \
neighbourhood_group room_type
Bronx               Entire home/apt   25   1404  138.004819   103.0
                    Private room      16    700   68.419668    55.0
                    Shared room       20    800   66.391304    44.0
Brooklyn            Entire home/apt   20  10000  171.587687   135.0
                    Hotel room         0    399  147.300000   129.0
                    Private room      10   2500   71.291189    60.0
                    Shared room       15   1500   57.870091    36.0
Manhattan           Entire home/apt    0  10000  231.335572   165.0
                    Hotel room         0   2211  292.515670   210.0
                    Private room      10  10000  128.277069    80.0
                    Shared room       10  10000  111.735084    60.0
Queens              Entire home/apt   10  10000  150.168900   115.0
                    Hotel room         0    249  139.058824   149.0
                    Private room      18   9000   69.972564    55.0
                    Shared room       14   3000   89.891892    40.0
Staten Island       Entire home/apt   39   1200  151.720930   111.0
                    Private room      20    800   70.312883    55.0
                    Shared room       19     82   46.000000    38.0

                                            std
neighbourhood_group room_type
Bronx               Entire home/apt  126.032106
                    Private room      57.337866
                    Shared room      114.442703
Brooklyn            Entire home/apt  236.732843
                    Hotel room        91.153206
                    Private room      69.023165
                    Shared room       92.217618
Manhattan           Entire home/apt  410.306439
                    Hotel room       315.924085
                    Private room     448.677306
                    Shared room      502.728868
Queens              Entire home/apt  252.606739
                    Hotel room        50.743806
                    Private room     163.814468
                    Shared room      275.675158
Staten Island       Entire home/apt  147.518392
                    Private room      70.759593
                    Shared room       28.446441

# Load, Merge, and Export files.
1. Load the `prices.csv` and the `n_listings.csv`
    * Having an error..? Inspect the actual csv file if you're having trouble

2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']

       
3. Save your joined csv as `joined.csv` into the data folder. 


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [69]:
# 1. Load the `prices.csv` and the `n_listings.csv`
price_df = pd.read_csv("../data/prices.csv")
print(price_df)
listing_df = pd.read_csv('../data/n_listings.csv',sep=";")
print(listing_df)

  neighbourhood_group   mean_price
0               Bronx    92.751479
1            Brooklyn   120.225258
2           Manhattan   191.880466
3              Queens    99.754965
4       Staten Island   110.947214
  neighbourhood_group  n_listings
0               Bronx        1183
1            Brooklyn       18632
2           Manhattan       20580
3          LongIsland        4121

In [70]:
# 2. Do join that keeps all the records for each table.

price_df = price_df.set_index('neighbourhood_group')
listing_df = listing_df.set_index('neighbourhood_group')
joined_pd = price_df.join(listing_df)

In [71]:
# 3. Save your joined csv as `joined.csv` into the data folder. 
save_as = 'joined.csv'
joined_pd.to_csv(save_as, index=False)

In [73]:
# 4. Load your newly saved file, see if it looks the same.  If not, try saving with argument `index=False`

joined_df = pd.read_csv('joined.csv')
print(joined_df)

    mean_price  n_listings
0    92.751479      1183.0
1   120.225258     18632.0
2   191.880466     20580.0
3    99.754965         NaN
4   110.947214         NaN

# Extra Credit
Every question below this cell is extra credit and optional.

### 1. (Easy) Explore this new PandasAI Package and tell me what its all about because I've never used it. 
* https://www.youtube.com/watch?v=5w6eZaoDVVk&ab_channel=CodingIsFun  
* See if you can use it on the listings.csv to find out some cool info. or answer some of the questions above.

### 2. (Very Easy) Find other cool Panda packages / add ons and show us what they can do well. And how you installed them.

### 3. (Medium) Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

### (Hard) Load the Game Logs for 2022 and add the column names using a dictionary.  
* [Link to the data page](https://www.retrosheet.org/gamelogs/)
* [Link to the column names](https://procatinator.com/)
* haha, gotta find them yourself!

### (Extra Hard) Download the files for the past 5 years into a new folder and add them all into one data frame using pandas, then save that new file.
* Try to not hard code in the file names. We want to do this programmatically because what if we want to add new/more file names in the future.