# First print your name in the cell below then save this file. (or something nice about your instructor)

In [1]:
print('Sujana yeasmin')

Sujana yeasmin

# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [2]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [3]:
# Load data here
df = pd.read_csv('../data/listings.csv')

df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [4]:
# 1. How many listings are there with a price less than 100? 
select_condition = df['price'] < 100

count = len(select_condition)
print(count)

46527

In [5]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.

select_condition = df['neighbourhood_group'] == 'Brooklyn'

df_bk = df[select_condition].copy()

print(len(df_bk))

18632

In [6]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.

condition1 = df['neighbourhood_group'] == 'Brooklyn'
condition2 = df['price'] < 100

df_bk_hundred = df[condition1 & condition2].copy()

print(len(df_bk_hundred))

10473

In [7]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
# How many total are there that have those names

host_name = ['Michael', 'David', 'john', 'Daniel']
selected_hosts = df[df['host_name'].isin(host_name)]

print(selected_hosts.shape[0])

988

In [8]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 

df['adjusted_price'] = df['price'] 

df.loc[df['neighbourhood'] == 'Williamsburg', 'adjusted_price'] += 100 #.loc[] = label-based (uses names)

df[['neighbourhood', 'price', 'adjusted_price']].head()

        neighbourhood  price  adjusted_price
0             Midtown    175             175
1        Clinton Hill     75              75
2  Bedford-Stuyvesant     60              60
3         Sunset Park    175             175
4      Hell's Kitchen     65              65

In [9]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  

room_type_percentages = df['room_type'].value_counts(normalize=True) * 100
print(room_type_percentages)

room_type
Entire home/apt    51.578653
Private room       45.444581
Shared room         2.121349
Hotel room          0.855417
Name: proportion, dtype: float64

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [10]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.

listings_group = df.groupby('neighbourhood_group').size()

print(listings_group)

neighbourhood_group
Bronx             1183
Brooklyn         18632
Manhattan        20580
Queens            5791
Staten Island      341
dtype: int64

In [11]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 

mean_price_group = df.groupby('neighbourhood_group')['price'].mean()

print(mean_price_group)

neighbourhood_group
Bronx             92.751479
Brooklyn         120.225258
Manhattan        191.880466
Queens            99.754965
Staten Island    110.947214
Name: price, dtype: float64

In [12]:
# 2.5. Using `groupby`, find the mean price for each room_type. 
mean_price_room = df.groupby('room_type')['price'].mean()
print(mean_price_group)

neighbourhood_group
Bronx             92.751479
Brooklyn         120.225258
Manhattan        191.880466
Queens            99.754965
Staten Island    110.947214
Name: price, dtype: float64

In [13]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 

price_min_max = df.groupby('neighbourhood_group')['price'].agg(['min', 'max'])
print(price_min_max)

                     min    max
neighbourhood_group
Bronx                 16   1404
Brooklyn               0  10000
Manhattan              0  10000
Queens                 0  10000
Staten Island         19   1200

In [14]:
# 4. Using `groupby`, find the mean price for each room_type in each neighbourhood_group.

mean_price = df.groupby(['neighbourhood_group', 'room_type'])['price'].mean()
print(mean_price)

neighbourhood_group  room_type
Bronx                Entire home/apt    138.004819
                     Private room        68.419668
                     Shared room         66.391304
Brooklyn             Entire home/apt    171.587687
                     Hotel room         147.300000
                     Private room        71.291189
                     Shared room         57.870091
Manhattan            Entire home/apt    231.335572
                     Hotel room         292.515670
                     Private room       128.277069
                     Shared room        111.735084
Queens               Entire home/apt    150.168900
                     Hotel room         139.058824
                     Private room        69.972564
                     Shared room         89.891892
Staten Island        Entire home/apt    151.720930
                     Private room        70.312883
                     Shared room         46.000000
Name: price, dtype: float64

In [15]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.
price_stats = (
    df.groupby(['neighbourhood_group', 'room_type'])['price']
      .agg(
          count='count',
          min_price='min',
          max_price='max',
          mean_price='mean',
          median_price='median',
          std_dev='std'
      )
)

print(price_stats)

                                     count  min_price  max_price  mean_price  \
neighbourhood_group room_type
Bronx               Entire home/apt    415         25       1404  138.004819
                    Private room       722         16        700   68.419668
                    Shared room         46         20        800   66.391304
Brooklyn            Entire home/apt   9112         20      10000  171.587687
                    Hotel room          30          0        399  147.300000
                    Private room      9159         10       2500   71.291189
                    Shared room        331         15       1500   57.870091
Manhattan           Entire home/apt  12209          0      10000  231.335572
                    Hotel room         351          0       2211  292.515670
                    Private room      7601         10      10000  128.277069
                    Shared room        419         10      10000  111.735084
Queens              Entire home/apt   2090         10      10000  150.168900
                    Hotel room          17          0        249  139.058824
                    Private room      3499         18       9000   69.972564
                    Shared room        185         14       3000   89.891892
Staten Island       Entire home/apt    172         39       1200  151.720930
                    Private room       163         20        800   70.312883
                    Shared room          6         19         82   46.000000

                                     median_price     std_dev
neighbourhood_group room_type
Bronx               Entire home/apt         103.0  126.032106
                    Private room             55.0   57.337866
                    Shared room              44.0  114.442703
Brooklyn            Entire home/apt         135.0  236.732843
                    Hotel room              129.0   91.153206
                    Private room             60.0   69.023165
                    Shared room              36.0   92.217618
Manhattan           Entire home/apt         165.0  410.306439
                    Hotel room              210.0  315.924085
                    Private room             80.0  448.677306
                    Shared room              60.0  502.728868
Queens              Entire home/apt         115.0  252.606739
                    Hotel room              149.0   50.743806
                    Private room             55.0  163.814468
                    Shared room              40.0  275.675158
Staten Island       Entire home/apt         111.0  147.518392
                    Private room             55.0   70.759593
                    Shared room              38.0   28.446441

# Load, Merge, and Export files.
1. Load the `prices.csv` and the `n_listings.csv`
    * Having an error..? Inspect the actual csv file if you're having trouble

2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']

       
3. Save your joined csv as `joined.csv` into the data folder. 


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [27]:
# 1. Load the `prices.csv` and the `n_listings.csv`

prices_df = pd.read_csv('../data/prices.csv')
n_listings_df = pd.read_csv('../data/n_listings.csv', sep=';')

print("Prices data shape:", prices_df.shape)
print("Listings data shape:", n_listings_df.shape)

# Show first few rows
prices_df.head()
n_listings_df.head()

Prices data shape: (5, 2)
Listings data shape: (4, 2)

  neighbourhood_group  n_listings
0               Bronx        1183
1            Brooklyn       18632
2           Manhattan       20580
3          LongIsland        4121

In [28]:
# 2. Do join that keeps all the records for each table.
merged_df = pd.merge(prices_df, n_listings_df, 
                     on='neighbourhood_group', 
                     how='outer')

print("Merged data:")
print(merged_df)

Merged data:
  neighbourhood_group   mean_price  n_listings
0               Bronx    92.751479      1183.0
1            Brooklyn   120.225258     18632.0
2          LongIsland          NaN      4121.0
3           Manhattan   191.880466     20580.0
4              Queens    99.754965         NaN
5       Staten Island   110.947214         NaN

In [30]:
# 3. Save your joined csv as `joined.csv` into the data folder. 

merged_df.to_csv('../data/joined.csv', index=False)

In [35]:
# 4. Load your newly saved file, see if it looks the same.  If not, try saving with argument `index=False`

loaded_df = pd.read_csv('../data/joined.csv')

print("Original merged data:")
print(merged_df)
print(f"Shape: {merged_df.shape}")

print("\n" + "="*50 + "\n")

print("Data from joined.csv:")
print(loaded_df)
print(f"Shape: {loaded_df.shape}")

# Check if they're identical
print("\n" + "="*50 + "\n")
print("Are they identical?", merged_df.equals(loaded_df))

Original merged data:
  neighbourhood_group   mean_price  n_listings
0               Bronx    92.751479      1183.0
1            Brooklyn   120.225258     18632.0
2          LongIsland          NaN      4121.0
3           Manhattan   191.880466     20580.0
4              Queens    99.754965         NaN
5       Staten Island   110.947214         NaN
Shape: (6, 3)

==================================================

Data from joined.csv:
  neighbourhood_group   mean_price  n_listings
0               Bronx    92.751479      1183.0
1            Brooklyn   120.225258     18632.0
2          LongIsland          NaN      4121.0
3           Manhattan   191.880466     20580.0
4              Queens    99.754965         NaN
5       Staten Island   110.947214         NaN
Shape: (6, 3)

==================================================

Are they identical? True

# Extra Credit
Every question below this cell is extra credit and optional.

### 1. (Easy) Explore this new PandasAI Package and tell me what its all about because I've never used it. 
* https://www.youtube.com/watch?v=5w6eZaoDVVk&ab_channel=CodingIsFun  
* See if you can use it on the listings.csv to find out some cool info. or answer some of the questions above.

### 2. (Very Easy) Find other cool Panda packages / add ons and show us what they can do well. And how you installed them.

### 3. (Medium) Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

### (Hard) Load the Game Logs for 2022 and add the column names using a dictionary.  
* [Link to the data page](https://www.retrosheet.org/gamelogs/)
* [Link to the column names](https://procatinator.com/)
* haha, gotta find them yourself!

### (Extra Hard) Download the files for the past 5 years into a new folder and add them all into one data frame using pandas, then save that new file.
* Try to not hard code in the file names. We want to do this programmatically because what if we want to add new/more file names in the future.