# Fall 2024 Data Science Track: Week 2 - Data Cleaning Exercise

## Packages, Packages, Packages!

Import *all* the things here! You need the standard stuff: `pandas` and `numpy`.

If you got more stuff you want to use, add them here too. üôÇ

In [1]:
# Import here.
import pandas as pd
import numpy as np

## Introduction

With the packages out of the way, now you will be working with the following data sets:

* `food_coded.csv`: [Food choices](https://www.kaggle.com/datasets/borapajo/food-choices?select=food_coded.csv) from Kaggle
* `Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv`: [Ask A Manager Salary Survey 2021 (Responses)](https://docs.google.com/spreadsheets/d/1IPS5dBSGtwYVbjsfbaMCYIWnOuRmJcbequohNxCyGVw/view?&gid=1625408792) as *Tab Separated Values (.tsv)* from Google Docs

Each one poses different challenges. But you‚Äôll‚Äïof course‚Äïovercome them with what you learned in class! üòâ

## Food Choices Data Set

### Load the Data

In [4]:
# Load the Food choices data set into a variable (e.g., df_food).

food_data_set_path = '../data/food_coded.csv'

df_food = pd.read_csv(food_data_set_path)

### Explore the Data

How much data did you just load?

In [5]:
# Count by hand. (lol kidding)
print(f"Data loaded: {df_food.shape[0]} rows, {df_food.shape[1]} columns")

Data loaded: 125 rows, 61 columns

What are the columns and their types in this data set?

In [6]:
# Show the column names and their types.
print(df_food.dtypes)

GPA                  object
Gender                int64
breakfast             int64
calories_chicken      int64
calories_day        float64
                     ...
type_sports          object
veggies_day           int64
vitamins              int64
waffle_calories       int64
weight               object
Length: 61, dtype: object

### Clean the Data

Perhaps we‚Äôd like to know more another day, but the team is really interested in just the relationship between calories (`calories_day`) and weight. ‚Ä¶and maybe gender.

Can you remove the other columns?

In [ ]:
# Remove ‚Äòem.
df_food = df_food[['calories_day', 'weight', 'gender']]

What about `NaN`s? How many are there?

In [7]:
# Count ‚Äòem.
print(df_food.isna().sum())

GPA                  2
Gender               0
breakfast            0
calories_chicken     0
calories_day        19
                    ..
type_sports         26
veggies_day          0
vitamins             0
waffle_calories      0
weight               2
Length: 61, dtype: int64

We gotta remove those `NaN`s‚Äïthe entire row.

In [8]:
# Drop ‚Äòem.
df_food = df_food.dropna()

But what about the weird non-numeric values in the column obviously meant for numeric data?

Notice the data type of that column from when you got the types of all the columns?

If only we could convert the column to a numeric type and drop the rows with invalid values. ü§î

In [9]:
# Fix that.
df_food['weight'] = pd.to_numeric(df_food['weight'], errors='coerce')
df_food = df_food.dropna(subset=['weight'])

Now this data seems reasonably clean for our purposes! üòÅ

Let‚Äôs save it somewhere to be shipped off to another teammate. üíæ

In [10]:
# Savey save!
df_food.to_csv('../data/cleaned_food.csv', index=False)

## Ask a Manager Salary Survey 2021 (Responses) Data Set

### Load the Data

In [11]:
# Load the Ask A Manager Salary Survey 2021 (Responses) data set into a variable (e.g., df_salary).
df_salary = pd.read_csv('../data/Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv', sep='\t')

Was that hard? üôÉ

#### rename the file to something that is better for all systems.  
* No spaces in filename (can use '_')
* all lower case

### Explore

You know the drill.

How much data did you just load?

In [12]:
# Count by hand. I‚Äôm dead serious.
print(f"Data loaded: {df_salary.shape[0]} rows, {df_salary.shape[1]} columns")

Data loaded: 28062 rows, 18 columns

What are the columns and their types?

In [13]:
# Show the column names and their types.
print(df_salary.dtypes)

Timestamp                                                                                                                                                                                                                                object
How old are you?                                                                                                                                                                                                                         object
What industry do you work in?                                                                                                                                                                                                            object
Job title                                                                                                                                                                                                                                object
If your job title needs additional context, please clarify here:                                                                                                                                                                         object
What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)     object
How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.                                          float64
Please indicate the currency                                                                                                                                                                                                             object
If "Other," please indicate the currency here:                                                                                                                                                                                           object
If your income needs additional context, please provide it here:                                                                                                                                                                         object
What country do you work in?                                                                                                                                                                                                             object
If you're in the U.S., what state do you work in?                                                                                                                                                                                        object
What city do you work in?                                                                                                                                                                                                                object
How many years of professional work experience do you have overall?                                                                                                                                                                      object
How many years of professional work experience do you have in your field?                                                                                                                                                                object
What is your highest level of education completed?                                                                                                                                                                                       object
What is your gender?                                                                                                                                                                                                                     object
What is your race? (Choose all that apply.)                                                                                                                                                                                              object
dtype: object

Oh‚Ä¶ Ugh! Give these columns easier names to work with first. üôÑ

In [15]:
# Rename ‚Äòem.
# Non-binding suggestions: timestamp, age, industry, title, title_context, salary, additional_compensation, currency, other_currency, salary_context, country, state, city, total_yoe, field_yoe, highest_education_completed	gender, race
df_salary.columns = ['timestamp', 'age', 'industry', 'title', 'title_context', 'salary', 'additional_compensation', 'currency', 'other_currency', 'salary_context', 'country', 'state', 'city', 'total_yoe', 'field_yoe', 'highest_education_completed', 'gender', 'race']
print(df_salary.dtypes)

timestamp                       object
age                             object
industry                        object
title                           object
title_context                   object
salary                          object
additional_compensation        float64
currency                        object
other_currency                  object
salary_context                  object
country                         object
state                           object
city                            object
total_yoe                       object
field_yoe                       object
highest_education_completed     object
gender                          object
race                            object
dtype: object

It‚Äôs a lot, and that should not have been easy. üòè

You‚Äôre going to have a gander at the computing/tech subset first because thats *your* industry. But first, what value corresponds to that `industry`?

In [16]:
# List the unique industries and a count of their instances.
print(df_salary['industry'].value_counts())

industry
Computing or Tech                        4699
Education (Higher Education)             2464
Nonprofits                               2419
Health care                              1896
Government and Public Administration     1889
                                         ...
Warehousing                                 1
Education (Early Childhood Education)       1
SAAS                                        1
Health and Safety                           1
Aerospace Manufacturing                     1
Name: count, Length: 1219, dtype: int64

That value among the top 5 is what you‚Äôre looking for innit? Filter out all the rows not in that industry and save it into a new dataframe.

In [18]:
# Filtery filter. (Save it to a new variable, df_salary_tech.)
df_salary_tech = df_salary[df_salary['industry'] == 'Computing or Tech']

Do a sanity check to make sure that the only values you kept are the one you are filtered for.

In [19]:
# Sanity Check
print("Unique industries in df_salary_tech:")
print(df_salary_tech['industry'].unique())
print("\nValue counts:")
print(df_salary_tech['industry'].value_counts())

Unique industries in df_salary_tech:
['Computing or Tech']

Value counts:
industry
Computing or Tech    4699
Name: count, dtype: int64

We are very interested in salary figures. But how many dollars üíµ is a euro üí∂ or a pound üí∑? That sounds like a problem for another day. ü´†

For now, let‚Äôs just look at U.S. dollars (`'USD'`).

In [20]:
# Filtery filter for just the jobs that pay in USD!
df_salary_tech = df_salary_tech[df_salary_tech['currency'] == 'USD']

What we really want know is how each U.S. city pays in tech. What value in `country` represents the United States of America?

In [21]:
# We did filter for USD, so if we do a count of each unique country in descending count order, the relevant value(s) should show up at the top.
print(df_salary_tech['country'].value_counts())

country
United States               1576
USA                         1222
US                           412
U.S.                         108
United States of America      90
                            ...
Ghana                          1
Nigeria                        1
ss                             1
Nigeria                        1
Burma                          1
Name: count, Length: 76, dtype: int64

### Clean the Data

Well, we can‚Äôt get our answers with what we currently have, so you‚Äôll have to make some changes.

Let‚Äôs not worry about anything below the first 5 values for now. Convert the top 5 to a single canonical value‚Äïsay, `'US'`, which is nice and short.

In [22]:
# Replace them all with 'US'.
df_salary_tech['country'] = df_salary_tech['country'].replace({
    'United States': 'US',
    'USA': 'US',
    'US': 'US',
    'U.S.': 'US',
    'United States of America': 'US'
})

Have a look at the count of each unique country again now.

In [23]:
# Count again.
print(df_salary_tech['country'].value_counts())

country
US                3408
United States       68
Usa                 59
USA                 56
usa                 28
                  ...
Ghana                1
Nigeria              1
ss                   1
Nigeria              1
Burma                1
Name: count, Length: 72, dtype: int64

Did you notice anything interesting?

In [24]:
# BONUS CREDIT: resolve [most of] those anomalous cases too without exhaustively taking every variant literally into account.
df_salary_tech['country'] = df_salary_tech['country'].replace(r'(?i)^(united states|usa|us|u\.s\.|u\.s\.a\.|united states of america|america)$', 'US', regex=True)

In [25]:

# BONUS CREDIT: if you‚Äôve resolved it, let‚Äôs see how well you did by counting the number of instances of each unique value.
print(df_salary_tech['country'].value_counts())

country
US                           3569
United States                  68
USA                            56
United States of America        7
Israel                          5
Canada                          4
U.S.                            2
UnitedStates                    2
United State of America         2
Unite States                    2
U.S                             2
Spain                           2
Usa                             2
India                           2
Australia                       2
New Zealand                     2
Poland                          2
United Kingdom                  2
Brazil                          2
U.S.A                           2
France                          2
United State                    1
International                   1
US                              1
 US                             1
Puerto Rico                     1
Uniyed states                   1
Remote (philippines)            1
Singapore                       1
United Stated                   1
Italy                           1
Danmark                         1
Cuba                            1
Uruguay                         1
Canada                          1
singapore                       1
ISA                             1
United Stateds                  1
Pakistan                        1
Netherlands                     1
China                           1
San Francisco                   1
Mexico                          1
Romania                         1
Japan                           1
United Stares                   1
Australian                      1
Denmark                         1
Jamaica                         1
Unites States                   1
Thailand                        1
U.S.A                           1
Colombia                        1
denmark                         1
Ghana                           1
Nigeria                         1
ss                              1
Nigeria                         1
Burma                           1
Name: count, dtype: int64

It‚Äôs looking good so far. Let‚Äôs find out the minimum, mean, and maximum (in that order) salary by state, sorted by the mean in descending order.

In [26]:
# Find the minimum, mean, and maximum salary in USD by U.S. state.
df_us = df_salary_tech[df_salary_tech['country'] == 'US']
salary_by_state = df_us.groupby('state')['salary'].agg(['min', 'mean', 'max']).sort_values('mean', ascending=False)
print(salary_by_state)

TypeError: agg function failed [how->mean,dtype->object]

Well, pooh! We forgot that `salary` isn‚Äôt numeric. Something wrong must be fixed.

In [27]:
# Fix it.
df_salary_tech['salary'] = pd.to_numeric(df_salary_tech['salary'], errors='coerce')
df_salary_tech = df_salary_tech.dropna(subset=['salary'])

Let‚Äôs try that again.

In [28]:
# Try it again. Yeah!
df_us = df_salary_tech[df_salary_tech['country'] == 'US']
salary_by_state = df_us.groupby('state')['salary'].agg(['min', 'mean', 'max']).sort_values('mean', ascending=False)
print(salary_by_state)

                                     min           mean        max
state
Florida                          28800.0  210711.000000  2600000.0
California, Oregon              200000.0  200000.000000   200000.0
California, Colorado            176000.0  176000.000000   176000.0
Delaware                        169000.0  169000.000000   169000.0
Connecticut                      68000.0  161610.000000   270000.0
California                           0.0  155049.526946   520000.0
New York                         14000.0  148791.941748   590000.0
Wisconsin                            1.0  146799.461538   920000.0
District of Columbia             59000.0  141666.666667   200000.0
New Jersey, New York            135000.0  137500.000000   140000.0
Washington                          72.0  137081.205882   300000.0
Massachusetts                    41000.0  127827.500000   400000.0
Maryland                         62000.0  124785.083333   176000.0
Nevada                          107100.0  124550.000000   142000.0
New Jersey                       67500.0  124090.909091   192000.0
Oregon                           16200.0  122876.190476   230000.0
West Virginia                   120000.0  120000.000000   120000.0
Illinois                         36000.0  117071.911765   228800.0
Louisiana, Washington           117000.0  117000.000000   117000.0
Georgia                          29120.0  115297.647059   242000.0
Virginia                         58750.0  115086.696970   378000.0
Pennsylvania                     52000.0  114867.187500   237000.0
Montana                          65000.0  112666.666667   145000.0
Kansas                           41500.0  109666.666667   167000.0
District of Columbia, Virginia  109200.0  109200.000000   109200.0
Colorado                         49400.0  108622.857143   165000.0
Vermont                          91250.0  105625.000000   120000.0
Idaho                            74860.0  105465.000000   170000.0
Utah                             33280.0  105023.333333   176000.0
Kentucky                         62000.0  102500.000000   125000.0
Iowa                             63000.0  101200.000000   142000.0
Minnesota                        52124.0  101064.941176   210000.0
Texas                            10700.0  100961.403509   185000.0
Arizona                          35000.0  100818.181818   145000.0
Rhode Island                     76000.0   99475.000000   122950.0
North Carolina                   29000.0   98151.785714   165000.0
New Mexico                       82000.0   95733.333333   115200.0
Michigan                         41600.0   95492.857143   235000.0
Tennessee                        61500.0   91750.000000   144000.0
Maine                            50000.0   90000.000000   114000.0
Ohio                             42000.0   87213.333333   179000.0
Indiana                          15000.0   85400.000000   140000.0
Oklahoma                         36958.0   84802.571429   180000.0
Missouri                            80.0   82870.818182   200000.0
California, Maryland             81500.0   81500.000000    81500.0
Louisiana                        75000.0   80500.000000    84000.0
New Hampshire                       55.0   78611.000000   120000.0
Arkansas                         60000.0   77333.333333    95000.0
Nebraska                         43000.0   76736.000000   140000.0
Alabama                          35000.0   60666.666667    95000.0
South Carolina                   40000.0   40000.000000    40000.0

That did the trick! Now let‚Äôs narrow this to data 2021 and 2022 just because (lel). *(Hint: that timestamp column may not be a temporal type right now.)*

In [29]:
# Filter the data to within 2021, 2022, or 2023, saving the DataFrame to a new variable, and generate the summary again.
df_salary_tech['timestamp'] = pd.to_datetime(df_salary_tech['timestamp'], errors='coerce')
df_2021_2023 = df_salary_tech[df_salary_tech['timestamp'].dt.year.isin([2021, 2022, 2023])]
df_2021_2023_us = df_2021_2023[df_2021_2023['country'] == 'US']
salary_by_state_2021_2023 = df_2021_2023_us.groupby('state')['salary'].agg(['min', 'mean', 'max']).sort_values('mean', ascending=False)
print(salary_by_state_2021_2023)

                                     min           mean       max
state
California, Oregon              200000.0  200000.000000  200000.0
California, Colorado            176000.0  176000.000000  176000.0
Delaware                        169000.0  169000.000000  169000.0
Connecticut                      68000.0  161610.000000  270000.0
California                           0.0  155561.873494  520000.0
New York                         14000.0  148791.941748  590000.0
Wisconsin                            1.0  146799.461538  920000.0
District of Columbia             59000.0  141666.666667  200000.0
Washington                          72.0  137617.492537  300000.0
New Jersey, New York            135000.0  137500.000000  140000.0
Massachusetts                    41000.0  127605.958904  400000.0
Maryland                         62000.0  124785.083333  176000.0
Nevada                          107100.0  124550.000000  142000.0
New Jersey                       67500.0  124090.909091  192000.0
Oregon                           16200.0  122876.190476  230000.0
West Virginia                   120000.0  120000.000000  120000.0
Illinois                         36000.0  118801.363636  228800.0
Louisiana, Washington           117000.0  117000.000000  117000.0
Georgia                          29120.0  115488.484848  242000.0
Virginia                         58750.0  115086.696970  378000.0
Pennsylvania                     52000.0  114867.187500  237000.0
Montana                          65000.0  112666.666667  145000.0
Kansas                           41500.0  109666.666667  167000.0
District of Columbia, Virginia  109200.0  109200.000000  109200.0
Colorado                         49400.0  108622.857143  165000.0
Vermont                          91250.0  105625.000000  120000.0
Idaho                            74860.0  105465.000000  170000.0
Utah                             33280.0  105023.333333  176000.0
Kentucky                         62000.0  102500.000000  125000.0
Minnesota                        52124.0  102381.500000  210000.0
Florida                          28800.0  102106.954545  170000.0
Iowa                             63000.0  101200.000000  142000.0
Texas                            10700.0  100961.403509  185000.0
Arizona                          35000.0  100818.181818  145000.0
Rhode Island                     76000.0   99475.000000  122950.0
North Carolina                   29000.0   97527.777778  165000.0
New Mexico                       82000.0   95733.333333  115200.0
Michigan                         41600.0   95492.857143  235000.0
Tennessee                        61500.0   91750.000000  144000.0
Maine                            50000.0   90000.000000  114000.0
Ohio                             42000.0   87213.333333  179000.0
Indiana                          15000.0   85400.000000  140000.0
Oklahoma                         36958.0   84802.571429  180000.0
Missouri                            80.0   82870.818182  200000.0
California, Maryland             81500.0   81500.000000   81500.0
Louisiana                        75000.0   80500.000000   84000.0
New Hampshire                       55.0   78611.000000  120000.0
Arkansas                         60000.0   77333.333333   95000.0
Nebraska                         43000.0   76736.000000  140000.0
Alabama                          52000.0   73500.000000   95000.0

## Bonus

Clearly, we do not have enough data to produce useful figures for the level of specificity you‚Äôve now reached. What do you notice about Delaware and West Virginia?

Let‚Äôs back out a bit and return to `df_salary` (which was the loaded data with renamed columns but *sans* filtering).

### Bonus #0

Apply the same steps as before to `df_salary`, but do not filter for any specific industry. Do perform the other data cleaning stuff, and get to a point where you can generate the minimum, mean, and maximum by state.

### Bonus #1

This time, format the table output nicely (*$12,345.00*) without modifying the values in the `DataFrame`. That is, `df_salary` should be identical before versus after running your code.

(*Hint: if you run into an error about `jinja2` perhaps you need to `pip install` something.*)

### Bonus #2

Filter out the non-single-states (e.g., `'California, Colorado'`) in the most elegant way possible (i.e., *not* by blacklisting all the bad values).

### Bonus #3

Show the quantiles instead of just minimum, mean, and maximum‚Äïsay 0%, 5%, 25%, 50%, 75%, 95%, and 100%. Outliers may be deceiving.

Sort by whatever interests you‚Äïlike say the *50th* percentile.

And throw in a count by state too. It would be interesting to know how many data points contribute to the figures for each state. (*Hint: your nice formatting from Bonus #1 might not work this time around.* üòú)